PORT=3000
# BASE_URL=http://localhost:3000
BASE_URL=https://measurement-nascar-skating-twenty.trycloudflare.com/
QR_SECRET=change_this_to_a_long_random_secret_string
# Générer avec : node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=change_this_to_another_long_random_secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
TOKEN_WINDOW_SECONDS=60
TOKEN_GRACE_WINDOWS=2
